{% extends 'base.html' %}
{% block content%}
<html>

<body class="home">

    <div class="container-fluid">

        <div class="">
            <h1 class="text-center" id="h">Welcome to Pitch App</h1><br>
            <style>
                body {

                    background-image: url("../static/img/home.jpg")
                }
            </style>

        </div>


    </div>

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(62, 98, 122);
        font: rgb(0, 19, 19);
        text-align: center;
        font-size: 300%;
    }
</style>

<div class="footer">
    <div class="container text-center">
        <small>Pitching is amazing &copy;<em>Pitch it in 1min!!</em> </small>
    </div>
</div>
</body>


</html>

{% endblock%}